<div class="c-account__block c-account__address-book" data-is-compact="{{ is_compact }}">
    <h2 class="c-account__title-2 o-title-1">
        {{ 'templates.account.my_addresses' | t }}
    </h2>

    {% if customer.addresses.size > 0 %}
        {% render 'address-list' with addresses: customer.addresses, class: "c-account__address-list", is_compact: is_compact %}
    {% else %}
        <p class="c-account__status">{{ 'templates.account.no_addresses_yet' | t }}</p>
    {% endif %}

    <p>
        {% if is_compact %}
            <a href="{{ routes.account_addresses_url }}" class="o-button o-link-1">
                {{ 'templates.account.manage_addresses' | t }}
            </a>
        {% else %}
            <button class="o-button o-link-1 o-link--contextual" onclick="editAddress()" type="button">
                {{ 'templates.account.add_address' | t }}
            </button>
        {% endif %}
    </p>
</div>