{% form 'customer' %}

    {% assign formId = 'newsletter-subscribe' %}

    <input name="contact[tags]" type="hidden" value="newsletter"/>

    <div class="o-form__input-box">
        <input type="email" name="contact[email]" id="{{ formId }}-email" class="o-input {% if form.errors contains 'email' %} o-input--has-error {% endif %}" placeholder="{{ 'snippets.form.email.placeholder' | t }}" aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}" aria-required="true" required autocorrect="off" autocapitalize="off" {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="{{ formId }}-email-error" data-form-status {% endif %}/>
    </div>


    {% if form.errors contains 'email' %}
        <ul class="o-list o-form__notes">
            <li class="o-list__item o-form__note o-form__note--fail">{{ form.errors.translated_fields['email'] }}
                {{ form.errors.messages['email'] }}</li>
        </ul>
    {% endif %}

    {%- if form.posted_successfully? -%}
        <ul class="o-list o-form__notes">
            <li class="o-list__item o-form__note o-form__note--success">{{ 'snippets.form.notes.newsletter.success' | t }}</li>
        </ul>
    {%- endif -%}

    <div class="o-form__action-group c-form-subscription__action-group">
        <button type="submit" name="commit" title="{{ 'snippets.form.submit.title' | t }}" class="o-button o-form__action">
            <img src="{{ 'icon.arrow-right.svg' | asset_url }}" alt="{{ 'snippets.form.submit.title' | t }}" class="o-image c-arrow-icon o-button__icon" width="17" height="9"/>
        </button>
    </div>

{% endform %}