<title>{{ page_title }}</title>
<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ page_description | escape }}">

{%- if canonical_url != blank -%}
    <link rel="canonical" href="{{ canonical_url }}">
{%- endif -%}

<meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">

{%- if settings.favicon != blank -%}
    <link rel="icon" type="image/png" sizes="256x256" href="{{ settings.favicon | img_url: '256x256' }}"/>
{%- endif -%}

{% include 'social-meta-tags' %}

<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

<!-- preloads -->
<!---- fonts -->
<link rel="preload" as="font" href="{{ 'font.arca-majora-3-bold.woff' | asset_url }}" type="font/woff2">
<link rel="preload" as="style" href="{{ 'font.arca-majora-3.css' | asset_url }}" >
<!---</temp></temp></temp></temp></temp>- styles -->
<link rel="preload" as="style" href="{{ 'style.reset.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'style.global.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'style.form.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'style.snippet.form-subscription.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'style.snippet.collections-list.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'style.snippet.pagination.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'style.section.header.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'style.section.footer.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'style.section.search.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'style.section.featured-collections.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'style.section.hero.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'style.section.collection.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'style.section.image-cards.css' | asset_url }}">
<!---- scripts -->
<link rel="preload" as="script" href="{{ 'script.classes.js' | asset_url }}">
<link rel="preload" as="script" href="{{ 'script.global.js' | asset_url }}">
<link rel="preload" as="script" href="{{ 'script.section.featured-collections.js' | asset_url }}">

<!-- fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect">
<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@300&family=Work+Sans&display=swap" rel="stylesheet">
<link href="{{ 'font.arca-majora-3.css' | asset_url }}" rel="stylesheet">

<!-- styles -->
{% include 'style-variables' %}

{{ 'style.reset.css' | asset_url | stylesheet_tag }}
{{ 'style.global.css' | asset_url | stylesheet_tag }}
{{ 'style.form.css' | asset_url | stylesheet_tag }}

{{ 'style.snippet.form-subscription.css' | asset_url | stylesheet_tag }}
{{ 'style.snippet.collections-list.css' | asset_url | stylesheet_tag }}
{{ 'style.snippet.pagination.css' | asset_url | stylesheet_tag }}

{{ 'style.section.header.css' | asset_url | stylesheet_tag }}
{{ 'style.section.footer.css' | asset_url | stylesheet_tag }}
{{ 'style.section.search.css' | asset_url | stylesheet_tag }}

{{ 'style.section.featured-collections.css' | asset_url | stylesheet_tag }}
{{ 'style.section.hero.css' | asset_url | stylesheet_tag }}
{{ 'style.section.collection.css' | asset_url | stylesheet_tag }}
{{ 'style.section.image-cards.css' | asset_url | stylesheet_tag }}

{% case template.name %}
    {% when 'index' %}
        {{ 'style.template.index.css' | asset_url | stylesheet_tag }}
    {% when '404' %}
        {{ 'style.template.404.css' | asset_url | stylesheet_tag }}
{% endcase %}

<!-- scripts -->
<script src="{{ 'script.classes.js' | asset_url }}" type="text/javascript" defer></script>
<script src="{{ 'script.global.js' | asset_url }}" type="text/javascript" defer></script>
<script src="{{ 'script.section.featured-collections.js' | asset_url }}" type="text/javascript" defer></script>