{% assign is_in_sale = false %}
{% assign is_available = product_item.available %}
{% assign has_free_shipping = false %}
{% assign is_bestseller = false %}
{% assign can_be_pre_ordered = false %}
{% assign rating = product_item.metafields.accentuate.rating | plus: 0 %}

{% for tag in product_item.tags %}
    {% if tag contains 'Bestseller' %}
        {% assign is_bestseller = true %}
    {% endif %}
{% endfor %}

{% if product_item.compare_at_price_min > 0 %}
    {% assign is_in_sale = true %}
{% endif %}

<li class="o-list__item c-products__item c-product-item">
    <a 
        href="{{ product_item.url }}" 
        title="{{ product_item.title }}" 
        class="o-button c-product-item__button js-product-item__button" 
        data-is-available="{{ is_available }}"
        data-in-sale="{{ is_in_sale }}"
    >
        <figure class="c-product-item__image-box">
            <figcaption class="c-product-item__features">

                <span
                    {% if is_available == false %}
                        data-is-hidden='false'
                    {% else %}
                        data-is-hidden='true'    
                    {% endif %}
                    class="c-product-item__feature c-product-item__sold-out-text">{{ 'snippets.product.sold_out' | t }}
                </span>

                <span
                    {% if is_available and is_in_sale %}
                        data-is-hidden='false'    
                    {% else %}
                        data-is-hidden='true'
                    {% endif %}
                    class="c-product-item__feature c-product-item__in-sale-text"
                >
                    {{ 'snippets.product.in_sale' | t }}
                </span>

                <span
                    {% if is_available and has_free_shipping %}
                        data-is-hidden='false'    
                    {% else %}
                        data-is-hidden='true'    
                    {% endif %} 
                    class="c-product-item__feature c-product-item__free-shipping-text"
                >
                    {{ 'snippets.product.has_free_shipping' | t }}
                </span>

                <span
                    {% if is_bestseller %}
                        data-is-hidden='false' 
                    {% else %}
                        data-is-hidden='true'  
                    {% endif %}
                    class="c-product-item__feature c-product-item__bestseller-text"
                >
                    {{ 'snippets.product.is_bestseller' | t }}
                </span>

                <span
                    {% if can_be_pre_ordered %}
                        data-is-hidden='false' 
                    {% else %}
                        data-is-hidden='true' 
                    {% endif %}
                    class="c-product-item__feature c-product-item__can-be-pre-ordered-text"
                >
                    {{ 'snippets.product.can_be_pre_ordered' | t }}
                </span>

            </figcaption>

            <img 
                {% if product_item.featured_image %}
                    data-is-hidden='false'
                {% else %}
                    data-is-hidden='true' 
                {% endif %}
                src="{{ product_item.featured_image | img_url: '480x480' }}" 
                alt="{{ product_item.title }}" 
                class="o-image c-product-item__image" 
                loading="lazy" width="480" height="480"
            />

            <div
                class="c-product-item__placeholder-image-box"
                {% if product_item.featured_image %}
                    data-is-hidden='true'
                {% else %}
                    data-is-hidden='false' 
                {% endif %}
            >
                {{ 'image' | placeholder_svg_tag: 'o-image c-product-item__image' }}
            </div>

        </figure>
        <div class="c-product-item__copy">
            <h3 class="o-button c-product-item__title u-text-caps">
                <span class="o-text c-arrow-icon u-smooth c-product-item__title-text u-truncate">{{ product_item.title }}</span>
                <img src="{{ 'icon.arrow-right.svg' | asset_url }}" alt="" width="17" height="9" class="o-image  u-smooth c-product-item__title-icon o-button__icon" loading="lazy"/>
            </h3>

            {% render 
                'product-rating' with 
                rating: rating,
                main_class: 'c-product-item'
            %}

            {% render 
                'product-prices' with 
                product_item: product_item, 
                is_in_sale: is_in_sale,
                main_class: 'c-product-item',
                extra_classes: 'u-text-caps'
            %}
        </div>
    </a>
</li>