{% assign products_items_count = product_items | size %}

{% if products_items_count > 0 %}
    <div class="c-rel-products {{ main_class }}">
        <h2 class="c-rel-products__title">{{ title }}</h2>
        <ul class="o-list c-rel-products__list">
            {% for product_item_handle in product_items %}
                {% assign product_item = all_products[product_item_handle] %}
                <li class="o-list__item c-rel_products__list-item c-rel-product">
                    <a href="{{ product_item.url }}" class="c-rel-product__link"></a>
                    <figure class="c-rel-product__image-box">
                        <img src="{{ product_item.featured_image | img_url: '140x200' }}" alt="{{ product_item.title }}" width="140" height="200" class="c-rel-product__image">
                    </figure>
                    <div class="c-rel-product__info">
                        <h3 class="c-rel-product__title u-truncate u-smooth">{{ product_item.title }}</h3>
                        {% render 
                            'product-prices' with 
                            product_item: product_item,
                            main_class: 'c-rel-product'
                        %}
                        <div class="c-rel-product__action-box">
                            <button class="o-button c-rel-product__action c-rel-product__action--add-to-cart js-add-to-cart" type="button" data-variant-id="{{ product_item.first_available_variant.id }}" data-qty="1">
                                <span class="o-text">
                                    {{ 'snippets.product.add_to_cart' | t }}
                                </span>
                                <i class="o-icon c-icon-spinner">
                                    {% render 'icon-spinner' %}
                                </i>
                            </button>
                            <p class="o-feedback o-feedback--success c-rel-product__action-feedback c-rel-product__action-feedback--success">
                                {{ 'snippets.product.added_to_cart_short' | t }}.
                                <button class="o-feedback__link" onclick="showCart()" type="button">{{ 'snippets.product.go_to_cart' | t }}</button>
                            </p>
                            <p class="o-feedback o-feedback--fail c-rel-product__action-feedback c-rel-product__action-feedback--fail">
                                {{ 'snippets.product.failed_to_add_to_cart_short' | t }}.
                            </p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}