{% if settings.announcement != blank %}
    {% assign has_announcement = true %}
{% else %}
    {% assign has_announcement = false %}
{% endif %}


<!doctype html>
<html lang="{{ request.locale.iso_code }}">

    <head>
        {{ content_for_header }}
        {% include 'head' %}
    </head>

    <body class="s-template--{{ template.name }}" data-has-announcement="{{ has_announcement }}">

        <dialog class="c-modal u-smooth">
            <div class="c-modal__content-box u-smooth"></div>
        </dialog>

        {% section 'cart' %}

        <div class="c-page-top">

            {% section 'header' %}

            <main class="c-page-content" role="main">
                {{ content_for_layout }}
            </main>

        </div>

        <div class="c-page-bottom">
            {% section 'footer' %}
        </div>

    </body>

</html>
