<h1 class="c-account__title o-title-1">
    {{ customer.name }}
</h1>

<div class="c-account__block c-account__orders">
    <h2 class="c-account__title-2 o-title-1">
        {{ 'templates.account.my_orders' | t }}
    </h2>
    {% paginate customer.orders by 12 %}
        {% if customer.orders.size > 0 %}
            <table class="o-list c-account__orders-table c-orders-table">
                <thead class="c-orders-table__head">
                    <tr class="c-orders-table__row">
                        <th class="c-orders-table__col" data-col-name="select"></th>
                        <th class="c-orders-table__col" data-col-name="order-number">
                            {{ 'templates.account.order_number' | t }}
                        </th>
                        <th class="c-orders-table__col" data-col-name="date">
                            {{ 'templates.account.date' | t }}
                        </th>
                        <th class="c-orders-table__col" data-col-name="status">
                            {{ 'templates.account.status' | t }}
                        </th>
                        <th class="c-orders-table__col" data-col-name="total">
                            {{ 'templates.account.total' | t }}
                        </th>
                    </tr>
                </thead>
                <tbody class="c-orders-table__body">
                    {% for order in customer.orders %}
                        <tr class="c-orders-table__row u-smooth">
                            <td class="c-orders-table__col" data-col-name="select">
                                <a href="{{ order.customer_url }}" class="c-orders-table__item-select"></a>
                            </td>
                            <td class="c-orders-table__col" data-col-name="order-number">
                                {{ order.name }}
                            </td>
                            <td class="c-orders-table__col" data-col-name="date">
                                {{ order.created_at | date: '%e %b, %Y' }}
                            </td>
                            <td class="c-orders-table__col" data-col-name="status">
                                {{ order.fulfillment_status }}
                            </td>
                            <td class="c-orders-table__col" data-col-name="total">
                                {{ order.total_price | money }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% render 'pagination' with paginate: paginate %}
        {% else %}
            <p class="c-account__status">{{ 'templates.account.no_orders_yet' | t }}</p>
        {% endif %}
    {% endpaginate %}
</div>

{% render 'address-book' with is_compact: true %}

<p>
    <a href="{{ routes.account_logout_url }}" class="o-button o-link-1 o-button--fail">{{ 'snippets.form.submit.logout' | t }}</a>
</p>

{% schema %}

{
    "name": "Account",
    "tag": "section",
    "class": "o-section c-account"
}

{% endschema %}