<script defer type="text/javascript">
    const cartSectionData = {
        title: "{{ 'sections.cart.title' | t }}",
        subtotalTitle: "{{ 'sections.cart.subtotal' | t }}",
        cartURL: "{{ routes.cart_url }}",
        cartHideTitle: "{{ 'sections.cart.close' | t }}",
        checkoutTitle: "{{ 'sections.cart.to_checkout' | t }}",
        featuredImagePlaceholder: `{{ 'image' | placeholder_svg_tag: 'o-image c-product-image-placeholder' }}`,
        productDeleteTitle: "{{ 'sections.cart.delete_product' | t }}",
        xIcon: "{{ 'icon.x.png' | asset_url }}",
        minusIcon: "{{ 'icon.minus.png' | asset_url }}",
        plusIcon: "{{ 'icon.plus.png' | asset_url }}",
        emptyStateTitle: "{{ 'sections.cart.empty_state_desc' | t }}",
        emptyStateCTA: {
            title: "{{ section.settings.empty_state_cta_title | default: '' }}",
            url: "{{ section.settings.empty_state_cta_url | default: '' }}"
        },
        products: []
    }
</script>

{% if template.name != 'cart' %}
    <div class="c-cart__box u-smooth js-cart"></div>
    <button class="c-cart__hide" onclick="hideCart()" type="button"></button>
{% endif %}

{% schema %}

{
    "name": "Cart",
    "tag": "aside",
    "class": "c-cart c-cart--compact u-smooth",
    "settings": [
        {
            "type": "text",
            "id": "empty_state_cta_title",
            "label": "Empty state CTA title"
        }, {
            "type": "url",
            "id": "empty_state_cta_url",
            "label": "Empty state CTA URL"
        }
    ]
}

{% endschema %}