<div class="c-footer__newsletter">
    <h3 class="c-footer__title">{{ 'sections.footer.newsletter.title' | t }}</h3>
    <div class="o-form c-form-subscription">
        {% include 'form-subscription' %}
    </div>
    <ul class="o-list c-socials">
        {% if settings.facebook %}
            <li class="o-list">
                <a href="{{ settings.facebook }}" target="_blank" class="o-button c-socials__button">
                    <img src="{{ 'icon.fb.svg' | asset_url }}" alt="" class="c-socials__icon o-image o-button__icon" height="12">
                </a>
            </li>
        {% endif %}
        {% if settings.instagram %}
            <li class="o-list">
                <a href="{{ settings.instagram }}" target="_blank" class="o-button c-socials__button">
                    <img src="{{ 'icon.inst.svg' | asset_url }}" alt="" class="c-socials__icon o-image o-button__icon" height="12">
                </a>
            </li>
        {% endif %}
        {% if settings.email %}
            <li class="o-list">
                <a class="o-button c-socials__button" href="mailto:{{ settings.email }}">
                    <img src="{{ 'icon.mail.svg' | asset_url }}" alt="" class="c-socials__icon o-image o-button__icon" height="12">
                </a>
            </li>
        {% endif %}
    </ul>
</div>

<div class="c-footer__links">
    <ul class="o-list c-footer__list">
        {% for link in linklists.footer.links %}
            <li class="o-list__item c-footer__list-item">
                <a href="{{ link.url }}" class="o-button c-footer__list__button">{{ link.title }}</a>
                <ul class="o-list c-footer__list-nested-1">
                    {% for link in link.links %}
                        <li class="o-list__item c-footer__list-nested-1__item">
                            <a href="{{ link.url }}" class="o-button c-footer__list__button-nested-1">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="c-footer__copyright">{{ settings.copyright }}</div>

{% schema %}

{
    "name": "Footer",
    "tag": "footer",
    "class": "c-footer"
}

{% endschema %}