{% if settings.announcement %}
    <div class="c-header__announcement s-announcement-richtext s-richtext">{{ settings.announcement }}</div>
{% endif %}

<nav class="c-header__desktop u-desktop-only">
    <div class="c-header__left">
        <a class="c-header__logo-box" href="{{ shop.secure_url }}">

            <img class="c-header__logo" src="{{ settings.logo | img_url: '300x20' }}" alt="{{ shop.name }}" height="20"/>

            <img class="c-header__logo--alt" src="{{ settings.logo_alt | img_url: '300x20' }}" alt="{{ shop.name }}" height="20" loading="lazy"/>

        </a>
    </div>
    <div class="c-header__center">
        <ul class="o-list c-header__desktop-list c-header__center-list">
            {% for link in linklists.main-menu.links %}
                <li class="o-list__item">
                    <a class="o-button c-header__button" href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="c-header__right">
        <ul class="o-list c-header__desktop-list c-header__right-list">
            <li class="o-list__item">
                <a class="o-button c-header__button" href="{{ routes.search_url }}" title="{{ 'sections.search.title' | t }}">
                    <img class="o-image o-button__icon c-header__icon c-header__icon--search" src="{{ 'icon.search.svg' | asset_url }}" alt="{{ 'sections.search.title' | t }}" height="11"/>
                    <img class="o-image o-button__icon c-header__icon--alt c-header__icon--search" src="{{ 'icon.search-white.svg' | asset_url }}" alt="{{ 'sections.search.title' | t }}" height="11" loading="lazy"/>
                </a>
            </li>
            <li class="o-list__item">
                {% if customer.has_account %}
                    <a href="{{ routes.account_url }}" class="o-button c-header__button" title="{{ 'templates.account.title' | t }}">
                        <img class="o-image o-button__icon c-header__icon" src="{{ 'icon.user.svg' | asset_url }}" alt="{{ 'templates.account.title' | t }}" height="11"/>
                        <img class="o-image o-button__icon c-header__icon--alt" src="{{ 'icon.user-white.svg' | asset_url }}" alt="{{ 'templates.account.title' | t }}" height="11" loading="lazy"/>
                    </a>
                {% else %}
                    <a href="{{ routes.account_login_url }}" class="o-button c-header__button" title="{{ 'templates.login.title' | t }}">
                        <img class="o-image o-button__icon c-header__icon" src="{{ 'icon.user.svg' | asset_url }}" alt="{{ 'templates.login.title' | t }}" height="11"/>
                        <img class="o-image o-button__icon c-header__icon--alt" src="{{ 'icon.user-white.svg' | asset_url }}" alt="{{ 'templates.login.title' | t }}" height="11" loading="lazy"/>
                    </a>
                {% endif %}
            </li>
            <li class="o-list__item">
                <a href="{{ routes.cart_url }}" class="o-button c-header__button" title="{{ 'templates.cart.title' | t }}">
                    <img class="o-image o-button__icon c-header__icon" src="{{ 'icon.bag.svg' | asset_url }}" alt="{{ 'templates.cart.title' | t }}" height="11"/>
                    <img class="o-image o-button__icon c-header__icon--alt" src="{{ 'icon.bag-white.svg' | asset_url }}" alt="{{ 'templates.cart.title' | t }}" height="11" loading="lazy"/>
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav class="c-header__mobile u-mobile-only"></nav>

{% schema %}
{
    "name": "Header",
    "tag": "header",
    "class": "c-header"
}
{% endschema %}