<div class="c-hero__copy">
    {% if section.settings.title %}
        <h1 class="c-hero__title">{{ section.settings.title }}</h1>
    {% endif %}

    {% if section.settings.description %}
        <div class="c-hero__description s-hero-richtext s-richtext">{{ section.settings.description }}</div>
    {% endif %}

    {% if section.settings.button_title and section.settings.button_url %}
        <a href="{{ section.settings.button_url }}" class="o-button c-hero__cta">
            <span class="o-text">{{ section.settings.button_title }}</span>
            <img src="{{ 'icon.arrow-right-white.svg' | asset_url }}" alt="{{ section.settings.button_title }}" class="o-image c-arrow-icon" width="17" width="17" height="9"/>
        </a>
    {% endif %}

</div>
<div class="c-hero__background-box">
    {% if section.settings.background_image %}
        <img class="c-hero__background-image" src="{{ section.settings.background_image | img_url: '1920x1080' }}" alt="{{ section.settings.title }}" width="960" height="540" loading="lazy"/>
    {% endif %}
</div>

{% schema %}

{
    "name": "Hero",
    "tag": "section",
    "class": "o-section c-hero",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }, {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        }, {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background image"
        }, {
            "type": "text",
            "id": "button_title",
            "label": "Button title"
        }, {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
        }
    ],
    "presets": [
        {
            "name": "Hero"
        }
    ]
}

{% endschema %}