{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign is_in_sale = false %}
{% assign is_available = product.available %}
{% assign has_free_shipping = false %}
{% assign is_bestseller = false %}
{% assign can_be_pre_ordered = false %}
{% assign rating = product.metafields.accentuate.rating | plus: 0 %}

{% for tag in product.tags %}
    {% if tag contains 'Bestseller' %}
        {% assign is_bestseller = true %}
    {% endif %}
{% endfor %}

{% if product.compare_at_price_min > 0 %}
    {% assign is_in_sale = true %}
{% endif %}

<div class="c-product__general-data">
    {% assign total_images = product.images | size %}
    <figure class="c-product__gallery u-smooth js-product-gallery-slider" data-total-images="{{ total_images }}">
        {% if total_images > 0 %}
            {% for image in product.images %}
                <img src="{{ image.src | img_url: '720x900' }}" alt="{{ image.alt }}" class="c-product__image" width="720" height="900">
            {% endfor %}
        {% else %}
            {{ 'image' | placeholder_svg_tag: 'o-image c-product__image' }}
        {% endif %}
    </figure>

    <div class="c-product__info">

        <h1 class="c-product__title o-title-1">{{ product.title }}</h1>

        {% render 
            'product-prices' with 
            product_item: product,
            is_in_sale: is_in_sale
        %}

        {% render 
            'product-rating' with 
            rating: rating
        %}

        {% if is_available and is_bestseller %}
            <p class="c-product__status c-product__status--bestseller">{{ 'snippets.product.is_bestseller' | t }}</p>
        {% endif %}

        {% if is_available == false %}
            <p class="c-product__status c-product__status--sold-out">
                <em>{{ 'snippets.product.sold_out' | t }}</em>
            </p>
        {% endif %}

        {% render 
            'richtext' with 
            richtext: product.description,
            main_class: 'c-product__description',
            extra_classes: 'u-scroll-ver'
        %}

        <div class="c-product__actions-box">
            {% if is_available %}

                <ul class="o-list c-product__variants u-scroll-ver" data-total-options="{{ product.variants | size }}">
                    {% for variant in product.variants %}
                        <li class="o-list__item c-product__variant">
                            <input type="radio" name="product{{product.id}}variant" id="variant-{{ variant.id }}" class="o-button c-product__variant-option" value="{{ variant.id }}" {% if variant.available == false %} disabled {% endif %}/>
                            <label class="c-product__variant-label u-smooth" for="variant-{{ variant.id }}">
                                <span class="o-text c-product__variant-title u-truncate">{{ variant.title }}</span>
                                {% if variant.available %}
                                    <span class="o-text c-product__variant-price">{{ variant.price | money }}</span>
                                {% else %}
                                    <span class="o-text c-product__variant-sold-out">{{ 'snippets.product.sold_out' | t }}</span>
                                {% endif %}
                            </label>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}

            <ul class="o-list c-product__actions">
                {% if is_available %}
                    <li class="o-list__item c-product__action c-product__action--add-to-cart">
                        <button class="o-button c-product__action-button c-product__action-button--add-to-cart js-add-to-cart" data-qty="1" data-variant-name="product{{product.id}}variant" type="button">
                            <span class="o-text">
                                {{ 'snippets.product.add_to_cart' | t }}
                            </span>
                            <i class="o-icon c-icon-spinner">
                                {% render 'icon-spinner' %}
                            </i>
                        </button>
                        <p class="o-feedback o-feedback--success c-product__action-feedback c-product__action-feedback--success">
                            {{ 'snippets.product.added_to_cart' | t }}.
                            <button class="o-feedback__link" onclick="showCart()" type="button">{{ 'snippets.product.go_to_cart' | t }}</button>
                        </p>
                        <p class="o-feedback o-feedback--fail c-product__action-feedback c-product__action-feedback--fail">
                            {{ 'snippets.product.failed_to_add_to_cart' | t }}.
                        </p>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="c-product__related-options">

            {% unless is_available %}

                {% capture upsells_title %}
                    {{ 'snippets.product.upsells_title' | t }}
                {% endcapture %}
                {% assign upsells_products = product.metafields.accentuate.upsells | split: '|' %}
                {% render 
                    'related-products' with 
                    title: upsells_title,
                    product_items: upsells_products,
                    main_class: 'c-product__upsells'
                %}
            {% endunless %}

            {% capture cross_sells_title %}
                {{ 'snippets.product.cross_sells_title' | t }}
            {% endcapture %}
            {% assign cross_sells_products = product.metafields.accentuate.crosssells | split: '|' %}
            {% render 
                'related-products' with 
                title: cross_sells_title,
                product_items: cross_sells_products,
                main_class: 'c-product__cross-sells'
            %}

        </div>

    </div>
</div>

<article class="c-product__presentation">
    {% for description in product.metafields.accentuate.description %}
        <div class="c-product__presentation-block">
            {% render 
                'richtext' with 
                richtext: description.html,
                main_class: 'c-product__presentation-description'
            %}

            {% assign image = product.metafields.accentuate.image[forloop.index0] | first %}
            <figure class="c-product__presentation-image-box">
                <img src="{{ image.src }}" alt="{{ image.alt }}" class="c-product__presentation-image" width="480" height="460"/>
            </figure>
        </div>

    {% endfor %}
    <div class="c-product__presentation-decor">
        {% for i in (1..3) %}
            <span class="c-product__presentation-decor-line"></span>
        {% endfor %}
    </div>
</article>

{% schema %}
{
    "name": "Product",
    "tag": "section",
    "class": "o-section c-product"
}
{% endschema %}