<div class="o-form c-form-address c-modal__content">
    <form action="/account/addresses" method="POST" id="address_form_new" accept-charset="UTF-8" class="c-address__box">
        
        <h1 class="o-form__title o-title-1">{{ text.title }}</h1>

        <input type="hidden" name="form_type" value="customer_address">
        <input type="hidden" name="utf8" value="✓">

        {{#if data.id}}
            <input
                name="id" 
                id="address-id" 
                class="o-input"
                type="hidden"
                value="{{ data.id }}"
            />
        {{/if}}

        <div class="o-form__input-box">
            <input
                name="address[address1]" 
                id="address-address1" 
                class="o-input"
                value="{{ data.address1 }}"
                required
            />
            <label class="o-label u-smooth" for="address-address1">
                {{ text.address1Label }}
            </label>
        </div>
        
        <div class="o-form__input-box">
            <input
                name="address[address2]" 
                id="address-address2" 
                class="o-input"
            />
            <label class="o-label u-smooth" for="address-address2">
                {{ text.address2Label }}
            </label>
        </div>
        
        <div class="o-form__input-box">
            <input
                name="address[city]" 
                id="address-city" 
                class="o-input"
                required
            />
            <label class="o-label u-smooth" for="address-city">
                {{ text.cityLabel }}
            </label>
        </div>
        
        <div class="o-form__input-box">
            <input
                name="address[phone]" 
                id="address-phone" 
                class="o-input"
                type="tel"
                required
            />
            <label class="o-label u-smooth" for="address-phone">
                {{ text.phoneLabel }}
            </label>
        </div>
        
        <div class="o-form__input-box">
            <input
                name="address[first_name]" 
                id="address-firstName" 
                class="o-input"
                required
            />
            <label class="o-label u-smooth" for="address-firstName">
                {{ text.firstNameLabel }}
            </label>
        </div>
        
        <div class="o-form__input-box">
            <input
                name="address[last_name]" 
                id="address-lastName" 
                class="o-input"
                required
            />
            <label class="o-label u-smooth" for="address-lastName">
                {{ text.lastNameLabel }}
            </label>
        </div>
        
        <div class="o-form__input-box">
            <select
                name="address[country]" 
                id="address-country" 
                class="o-input o-input--select"
                data-is-country='true'
                data-province-selector='#address-province'
                required
            >
                {{{ other.countries }}}
            </select>
            <label class="o-label u-smooth" for="address-country">
                {{ text.countryLabel }}
            </label>
        </div>
        
        <div class="o-form__input-box">
            <select
                name="address[province]" 
                id="address-province" 
                class="o-input o-input--select"
            >
                <option class="o-input--option" value="">---</option>
            </select>
            <label class="o-label u-smooth" for="address-province">
                {{ text.provinceLabel }}
            </label>
        </div>

        <div class="o-form__action-group o-form__action-group--centered c-form-register__action-group">
            <button type="submit" class="o-button o-form__action o-form__action--bordered o-form__action--cta" onclick="onSaveAddressModal()">
                {{#if data.id }}
                    {{ text.saveChanges }}
                {{else}}
                    {{ text.addAddress }}
                {{/if}}
            </button>

            <button type="button" class="o-button o-form__action o-form__action--bordered"  onclick="onCloseAddressModal()">
                {{ text.cancel }}
            </button>
        </div>

    </form>
</div>