<div class="c-collection c-collection--master">

    <div class="c-collection-hero">

        <div class="c-collection-hero__copy">
            {% if collection.metafields.accentuate.eyebrow %}
                <p class="c-collection-hero__eyebrow u-text-caps">{{ collection.metafields.accentuate.eyebrow }}</p>
            {% endif %}

            {% if collection.metafields.accentuate.title %}
                <h1 class="c-collection-hero__title c-title-1">{{ collection.metafields.accentuate.title }}</h1>
            {% endif %}

            {% if collection.metafields.accentuate.button_label and collection.metafields.accentuate.button_url %}
                <a href="{{ collection.metafields.accentuate.button_url }}" class="o-button c-collection-hero__cta c-cta-1">
                    <span class="o-text">{{ collection.metafields.accentuate.button_label }}</span>
                    <img src="{{ 'icon.arrow-right.svg' | asset_url }}" alt="{{ collection.metafields.accentuate.button_label }}" class="o-image c-arrow-icon" width="17" width="17" height="9"/>
                </a>
            {% endif %}
        </div>

        <figure class="c-collection-hero__images">

            {% assign image_1 = collection.metafields.accentuate.image_1 | first %}
            {% if image_1 %}
                <img src="{{ image_1.src }}" width="{{ image_1.width }}" height="{{ image_1.height }}" alt="{{ image_1.alt }}" class="c-collection-hero__image c-collection-hero__image--1" loading="lazy"/>
            {% endif %}

            {% assign image_2 = collection.metafields.accentuate.image_2 | first %}
            {% if image_2 %}
                <img src="{{ image_2.src }}" width="{{ image_2.width }}" height="{{ image_2.height }}" alt="{{ image_2.alt }}" class="c-collection-hero__image c-collection-hero__image--2" loading="lazy"/>
            {% endif %}

        </figure>

    </div>

    {% assign collection_names = collection.metafields.accentuate.subcollections | split: '|' %}

    <ul class="o-list c-collections__list">

        {% for collection_name in collection_names %}

            {% render 'collections-list-item' with collection_item: collections[collection_name] %}

        {% endfor %}
    </ul>


</div>
