{% paginate collection.products by 18 %}

    <div class="c-collection">

        <div class="c-collection__header">
            <h1 class="c-collection__title o-title-1">{{ collection.title }}</h1>
            {% section 'collection-tabs' %}
        </div>

        <div class="c-collection__content c-products">
            <ul class="o-list c-products__list">
                {% for product in collection.products %}
                    {% render 'products-list-item' with product_item: product %}
                {% endfor %}
            </ul>
        </div>

    </div>

    {% render 'pagination' with paginate: paginate %}

{% endpaginate %}

<!-- {% paginate collection.products by 2 %}
    <h1>{{ collection.title }}</h1>
    {% for product in collection.products %}
        <div>
            <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
            {{ product.price | money }}
            {% unless product.available %}<br><strong>sold out</strong>
            {% endunless %}
            <a href="{{ product.url | within: collection }}">
                <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" loading="lazy"/>
            </a>
        </div>
    {% else %}
        <p>no matches</p>
    {% endfor %}
    {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
    {% endif %}
{% endpaginate %} -->
